* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 2.2em;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 20px;
    text-align: left;
    color: #333;
}
p {
    padding-left: 15px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #444;
}

.film-form, .film-filter {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #3271cb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 300px;
}

button:hover {
    background-color: #3271cb;
}

.film-list {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.film-list ul {
    list-style-type: none;
    padding: 0;
}

.film-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f7f6f6;
    border-radius: 4px;
}

.film-item.watched {
    background-color: #f7f6f6;
}

.film-item .film-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.film-item .film-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}



.film-item .film-status {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
}

.film-item .film-actions {
    display: flex;
    gap: 10px;
}


.film-item button.edit-btn {
    background-color: #3271cb;
    color: #ffffff;
}

.film-item button.edit-btn:hover {
    background-color: #3271cb;
}

.film-item button.delete-btn {
    background-color: #d9534f;
}


.null-film-item {
    background-color: transparent !important;
    border: 2px dashed #ddd !important;
    color: #888;
    text-align: center;
    padding: 20px !important;
}

/* Toggle switch styles */
.watched-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.watched-toggle label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(14px);
}